.adjust{
height:130px;
width:960px;
}
#moon{
height:1434px;
width:1434px;
top:-253px;
left:-474px;
position:fixed;
background-image:url(image/A-06.png);
}
#bar{
height:502px;
width:155px;
top:105px;
left:100px;
position:fixed;
background-image:url(image/A-04.png);
background-repeat: no-repeat;
z-index:15;
}
.topicWord{
font-size:16pt;
}

.word{
font-size:12pt;
}
#main{
height:4995px;
}