.adjust{
height:180px;
width:960px;
}
#moon{
height:1208px;
width:1208px;
top:-162px;
left:-474px;
position:fixed;
background-image:url(image/A-06b.png);
}
#bar{
height:502px;
width:155px;
top:120px;
left:60px;
position:fixed;
background-image:url(image/A-04.png);
background-repeat: no-repeat;
z-index:15;
}
.topicWord{
font-size:16pt;
}

.word{
font-size:12pt;
}
#main{
height:4633px;
}